*{
	user-select: none;
}
span.bg{
	display: inline-block;
	width: 20px;
	height: 20px;
	padding: 10px;
	background-color: white;
	color: transparent;
}
main#main{
	text-align: center;
	background-color: black;
	border: solid 2px black;
	max-width: 440px;
	max-height: 440px;
	border-radius: 2px;
}