
span{
	display: inline-block;
	width: 20px;
	height: 20px;
	border: solid 1px black;
	margin: 2px;
	padding: 10px;
	background-color: white;
	color: transparent;
}
main{
	text-align: center;
	background-color: black;
	border: solid 2px black;
	max-width: 506px;
	max-height: 506px;
}