
span{
	display: inline-block;
	width: 20px;
	height: 20px;
	border: solid 1px yellow;
	margin: 2px;
	background-color: grey;
	color: transparent;
}
main{
	text-align: center;
	background-color: black;
	border: solid 4px yellow;
	border-radius: 10px;
	padding: 2px;
	max-width: 390px;
	max-height: 390px;
	margin: 20px;
}
#slot1-1{
	background-color: green;
}