
span{
	display: inline-block;
	width: 20px;
	height: 20px;
	border: solid 1px #23272a;
	margin: 0px;
	background-color: grey;
}
main{
	text-align: center;
	background-color: black;
	border: solid 4px yellow;
	border-radius: 10px;
	padding: 2px;
	width: 660px;
	margin: 20px;
}
@keyframes blink {
  0% {
    background: violet;
  }
  14.3% {
    background: indigo;
  }
  28.6% {
    background: blue;
  }
  42.9% {
    background: green;
  }
  57.2% {
    background: yellow;
  }
  71.5% {
    background: orange;
  }
  85.8% {
    background: red;
  }
  100% {
    background: violet;
  }
}
button{
	margin: 10px;
	padding: 5px;
	font-weight: bolder;
}
div#menu{
	background-color: black;
	color: white;
	border-radius: 12px;
	padding: 10px;
	margin: 10px;
	width: 200px;
}
#menu a{
	color: white;
}
.apple{
	background-color: red;
	color: red;
	border-color: lime;
	border-radius: 10px;
}
.snake{
	background-color: lime;
	color: lime;
	border-radius: 10px;
}
.head{
	background-color: lime;
	border-radius: 10px;
}
.ground{
	background-color: black;
	color: transparent;
}
#outline{
	position: absolute;
	top: 10%;
	left: 10%;
	border: solid 2px black;
	width: 1000px;
	height: 400px;
	padding: 10px;
	border-radius: 10px;
	background-color: white;
}
p#Counter{
	background-color: blue;
	color: white;
	max-width: 200px;
	margin-right: 10px;
	padding: 10px;
	border-radius: 12px;
	margin: 10px auto 10px;
}
span#score{
	background-color: blue;
	border: none;
}
#top{
	background-color: lightblue;
	color: black;
	width: 200px;
	padding: 10px;
	margin: 10px;
	border-radius: 12px;
}
#top p{
	margin: 5px;
}
.bold{
	font-weight: bold;
	text-decoration: underline;
}

img#Banana{
	position: absolute;
	top: 50%;
	left: 75%;
	width: 200px;
	display: none;
	pointer-events: none;
    -webkit-animation:spin 6s linear infinite;
    -moz-animation:spin 6s linear infinite;
    animation:spin 6s linear infinite;
}
img#Banana2{
	position: absolute;
	top: 10%;
	left: -5%;
	width: 100px;
	display: none;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    animation:myanimation 8s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@keyframes myanimation{
    0% {
        left: -9.7%; top: -23%;}
    25% {
    	left: 99.8%; top: -23%; -webkit-transform: rotate(0deg);}
    25.001% {
    	left: 99.8%; top: -23%; -webkit-transform: rotate(90deg);}
    50% {
    	left: 99.8%; top: 99.9%; -webkit-transform: rotate(90deg);}
    50.001% {
    	left: 99.8%; top: 99.9%; -webkit-transform: rotate(180deg);}
    75% {
    	left: -9.7%; top: 99.9%; -webkit-transform: rotate(180deg);}
    75.001% {
    	left: -9.7%; top: 99.9%; -webkit-transform: rotate(270deg);}
    100% {
    	left: -9.7%; top: -23%; -webkit-transform: rotate(270deg);}
}
.center{
	margin: 10px auto 10px;
	text-align: center;
	float: right;
	position: relative;
	top: 20px;
}
button#START{
	background-color: white;
	position: absolute;
	top: 180px;
	left: 333px;
	padding: 10px;
	z-index: 456;
	border: solid 2px yellow;
	border-radius: 12px;
	margin: 0 auto;
}
button#RESET{
	background-color: white;
	position: absolute;
	top: 180px;
	left: 333px;
	padding: 10px;
	z-index: 456;
	border: solid 2px yellow;
	border-radius: 12px;
	margin: 0 auto;
	display: none;
}
button#Pause{
	background-color: grey;
	padding: 10px;
	border: solid 2px yellow;
	border-radius: 12px;
	margin: 0 auto;
	display: none;
}
button#Resume{
	background-color: grey;
	padding: 10px;
	border: solid 2px yellow;
	border-radius: 12px;
	margin: 0 auto;
	display: none;
}
img#GameOver{
	width: 660px;
	height: 330px;
	position: absolute;
	opacity: 0.7;
	margin: 26px;
	border-radius: 10px;
	display: none;
}