*{
	margin: 0px;
}
body{
	background-color: lightblue;
	font-family: sans-serif;
}
header{
	margin: 0 auto;
	background-color: teal;
	padding: 0px;
	padding-top: 15px;
}
h1{
	margin-bottom: 0px;
	text-align: center;
	font-family: sans-serif;
}
h2{
	padding-left: 10px;
}
a{
	margin: 10px;
	color: white;
	text-decoration: none;
}
a:hover{
	color: yellow;
}
p.top-p{
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 15px;
}
div.top-menu{
	color: black;
	background-color: black;
	font-size: 20px;
	word-spacing: 10px;
}
div.Main{
	background-color: rgb(50,200,150);
	width: 800px;
	margin: 0 auto;
	padding-bottom: 20px;
	margin-top: 20px;
	padding-top: 5px;
}
div.Main2{
	color: white;
	background-color: blue;
	width: 800px;
	margin: 0 auto;
	padding-bottom: 20px;
	margin-top: 20px;
	padding-top: 5px;
}
p.Samenvatting{
	padding: 10px;
	padding-bottom: 0px;
	font-size: 20px;
}
ul.Samenvatting{
	font-size: 20px;
}
img.foto{
	float: right;
	width: 150px;
	margin: 10px;
}