
span{
	display: inline-block;
	width: 20px;
	height: 20px;
	border: solid 1px yellow;
	margin: 0px;
	background-color: grey;
}
main{
	margin: 0 auto;
	text-align: center;
	background-color: black;
	border: solid 4px yellow;
	border-radius: 10px;
	padding: 2px;
	width: 660px;
}
button{
	margin: 10px;
	padding: 5px;
	font-weight: bolder;
}
a{
	background-color: black;
	color: white;
	border-radius: 12px;
	padding: 10px;
}
.apple{
	background-color: red;
	color: red;
	border-color: lime;
	border-radius: 10px;
}
.snake{
	background-color: lime;
	color: lime;
	border-radius: 10px;
}
.head{
	background-color: lime;
	border-radius: 10px;
}
.ground{
	background-color: black;
	color: transparent;
	border-radius: 10px;
}
#outline{
	border: solid 2px black;
	width: 430px;
}
p#Counter{
	background-color: blue;
	color: white;
	max-width: 120px;
	margin-right: 10px;
	padding: 10px;
	border-radius: 12px;
	margin: 10px auto 10px;
}
span#score{
	background-color: blue;
	border: none;
}
#top{
	background-color: lightblue;
	color: black;
	width: 200px;
	padding: 10px;
	margin: 10px;
	border-radius: 12px;
	position: absolute;
	right: 42%;
}
#top p{
	margin: 5px;
}
.bold{
	font-weight: bold;
	text-decoration: underline;
}
img#Banana{
	position: absolute;
	top: 140px;
	left: 670px;
	display: none;
}
img#Banana2{
	position: absolute;
	top: 440px;
	left: 250px;
	display: none;
}
div.center{
	margin: 10px auto 10px;
	text-align: center;
}
button#START{
	background-color: white;
	position: absolute;
	top: 240px;
	left: 47.5%;
	padding: 10px;
	z-index: 456;
	border: solid 2px yellow;
	border-radius: 12px;
	margin: 0 auto;
}