
span{
	display: inline-block;
	width: 20px;
	height: 20px;
	border: solid 1px yellow;
	margin: 0px;
	background-color: grey;
}
main{
	text-align: center;
	background-color: black;
	border: solid 4px yellow;
	border-radius: 10px;
	padding: 2px;
	width: 660px;
}
button{
	margin: 10px;
	padding: 5px;
	font-weight: bolder;
}
.apple{
	background-color: red;
	color: red;
	border-color: lime;
	border-radius: 10px;
}
.snake{
	background-color: lime;
	color: lime;
	border-radius: 10px;
}
.head{
	background-color: lime;
	border-radius: 10px;
}
.ground{
	background-color: black;
	color: transparent;
	border-radius: 10px;
}
#outline{
	border: solid 2px black;
	width: 430px;
}
#Counter{
	background-color: blue;
	color: white;
	max-width: 150px;
	padding: 10px;
	border-radius: 12px;
}
span#score{
	background-color: blue;
	border: none;
}
#top{
	background-color: lightblue;
	color: black;
	max-width: 150px;
	padding: 10px;
	margin: 10px;
	border-radius: 12px;
}
button#START{
	background-color: white;
	position: absolute;
	top: 240px;
	left: 300px;
	padding: 10px;
	z-index: 456;
	border: solid 2px yellow;
	border-radius: 12px;
}