
span{
	display: inline-block;
	width: 20px;
	height: 20px;
	border: solid 1px yellow;
	margin: 0px;
	background-color: grey;
}
main{
	text-align: center;
	background-color: black;
	border: solid 4px yellow;
	border-radius: 10px;
	padding: 2px;
	width: 660px;
	margin: 20px;
}
button{
	margin: 10px;
	padding: 5px;
	font-weight: bolder;
}
div#menu{
	background-color: black;
	color: white;
	border-radius: 12px;
	padding: 10px;
}
#menu a{
	color: white;
}
.apple{
	background-color: red;
	color: red;
	border-color: lime;
	border-radius: 10px;
}
.snake{
	background-color: lime;
	color: lime;
	border-radius: 10px;
}
.head{
	background-color: lime;
	border-radius: 10px;
}
.ground{
	background-color: black;
	color: transparent;
	border-radius: 10px;
}
#outline{
	position: absolute;
	top: 10%;
	left: 10%;
	border: solid 2px black;
	width: 1000px;
	height: 400px;
	padding: 10px;
	border-radius: 10px;
	background-color: white;
}
p#Counter{
	background-color: blue;
	color: white;
	max-width: 200px;
	margin-right: 10px;
	padding: 10px;
	border-radius: 12px;
	margin: 10px auto 10px;
}
span#score{
	background-color: blue;
	border: none;
}
#top{
	background-color: lightblue;
	color: black;
	width: 200px;
	padding: 10px;
	margin: 10px;
	border-radius: 12px;
}
#top p{
	margin: 5px;
}
.bold{
	font-weight: bold;
	text-decoration: underline;
}

img#Banana{
	position: absolute;
	top: 220px;
	left: 880px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
img#Banana2{
	position: absolute;
	top: 140px;
	left: -220px;
	width: 100px;
	display: none;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    animation:myanimation 8s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@keyframes myanimation{
    0% {
        left: 6%; top: -4.5%;}
    25% {
    	left: 85%; top: -4.5%; -webkit-transform: rotate(0deg);}
    25.001% {
    	left: 84.7%; top: -4.5%; -webkit-transform: rotate(90deg);}
    50% {
    	left: 84.7%; top: 73.6%; -webkit-transform: rotate(90deg);}
    50.001% {
    	left: 84.7%; top: 73.6%; -webkit-transform: rotate(180deg);}
    75% {
    	left: 3%; top: 73.6%; -webkit-transform: rotate(180deg);}
    75.001% {
    	left: 3%; top: 74%; -webkit-transform: rotate(270deg);}
    100% {
    	left: 3%; top: -5%; -webkit-transform: rotate(270deg);}
}
.center{
	margin: 10px auto 10px;
	text-align: center;
	float: right;
	position: relative;
	top: 20px;
}
button#START{
	background-color: white;
	position: absolute;
	top: 180px;
	left: 333px;
	padding: 10px;
	z-index: 456;
	border: solid 2px yellow;
	border-radius: 12px;
	margin: 0 auto;
}